{% extends "base_ui" %}

{% block content %}
    <h1>Vms2TileServer</h1>
    <p>
        This is a simple web application that allows you to view and interact with a map of the world.
        <br />
        It uses the <a href="./open_api">Vms2TileServer API</a> and the <a href="https://github.com/ringostarr80/rust-vms2-tile-db-reader" target="github_rust-vms2-tile-db-reader">Vms2TileDbReader</a> library to fetch map tiles and display them on the screen.
    </p>
{% endblock %}